extends base.pug

block content
    if errorMessage
        h1=errorMessage

    form(method="POST", enctype="multipart/form-data")
        label(for="video") Video File
        input(type="file", accpet="video/*", required, id="video", name="video")
        input(name="title", placeholder="Title", required, type="text" maxLength=80)
        input(name="description", placeholder="Description", required, type="text", minLength=20)
        input(name="hashtags", placeholder="Hashtags", required, type="text")
        input(type="submit", value="upload")